{{> head }}


    {{> navbar }}
    
    <div class="jumbotron">
        <h1 class="display-4">Libreria express nombre: {{ capitalizar nombre }}</h1>
        <p class="lead">Tprueba de web server express </p>
        <hr class="my-4">
        <p>
            Node (o más correctamente: Node.js) es un entorno que trabaja en tiempo de ejecución,
            de código abierto, multi-plataforma, que permite a los desarrolladores crear toda clase de
            herramientas de lado servidor y aplicaciones en JavaScript. La ejecución en tiempo real está pensada
            para usarse fuera del contexto de un explorador web (es decir, ejecutarse directamente en una computadora
            o sistema operativo de servidor). Como tal, el entorno omite las APIs de JavaScript específicas del
            explorador web y añade soporte para APIs de
            sistema operativo más tradicionales que incluyen HTTP y bibliotecas de sistemas de ficheros.
        </p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

{{>footer }}